{% extends "base.html" %}

{% block content %}

<h1>Inventory</h1>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.userID.label }}<br/>
    {{ form.userID(size=32) }}<br/>
    <p>{{ form.submit() }}</p>
    </p>
</form>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
      {% for product in available_inventory%}
        <tr>
          <td>{{product.sid}}</td>
          <td>{{product.pid}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.available}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

